@model  List<onlineShoppingStore.Models.laptop>
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}



<h3>Delete and Update Laptop</h3>
    

    <table>
        <tr>
        <td>Id</td>
        <td>Item Number</td>
        <td>image</td>
        <td> Description</td>
        <td>price</td>
            </tr>
        @foreach(var s in Model)
        {
           <tr>
         <td></td>
        <td>@s.Id</td>
        <td>@s.itemNum</td>
        <td>@s.image</td>
        <td>@s.desc</td>
        
        <td>@s.price_</td>
         <td><a href="/admin/EditLaptopItem/@s.Id">Edit</a></td>
        <td><a href="/admin/DeleteLaptopItem/@s.Id">Delete</a></td>

            </tr>
        }
    </table>
    